.repo(ng-controller='StarsRepoCtrl')
  .list-group
    .list-group-item(ng-repeat='repo in filtered.repos = (repos | filter:filterBySearch | filter:filterByShow | filter:filterByLanguages | filter:filterByTags | orderBy:filters.sortField:filters.sortReverse) track by repo.id', ng-click='activeRepo(repo)', ng-class='{ active: activedRepo.id == repo.id }')
      h4.list-group-item-heading {{repo.full_name}}
      p.list-group-item-text {{repo.description}}
      ul.tags
        li.tag(ng-repeat='tag in repo.tags', ng-click='filterTag(tag); $event.stopPropagation()') {{tag}}
      .stats
        .stat.stars
          i.fa.fa-star
          {{repo.stargazers_count}}
        .stat.watches
          i.fa.fa-eye
          {{repo.watchers_count}}
        .stat.forks
          i.fa.fa-code-fork
          {{repo.forks_count}}
        .stat.link
          span.homepage(ng-if='!!repo.homepage')
            i.fa.fa-home
            a(ng-href='{{repo.homepage}}', tooltip='{{repo.homepage}}', target='_blank') Homepage
          span.github
            i.fa.fa-github
            a(ng-href='https://github.com/{{repo.full_name}}', target='_blank') Github
