div(ng-include='"components/navbar/navbar.html"')
.stars.dashboard
  div(ng-include='"app/stars/sidebar/sidebar.html"')
  div(ng-include='"app/stars/repo/repo.html"')
  div(ng-include='"app/stars/detail/detail.html"')
