.stars
  .detail
    position absolute
    top 50px
    right 0px
    bottom 0px
    left 600px
    min-width 600px
    background #fff

    .nothing
      color #ccc
      font-size 20px
      text-align center
      top 50%
      left 0px
      width 100%
      position absolute

    .panel
      position absolute
      top 0px
      right 0px
      bottom 0px
      left 0px
      overflow-y auto
      margin-bottom 0px

    .panel-heading
      //background #567
      .clone
        display inline-block
        float right
        input
          display inline-block
          width 400px
      .tags
        margin 4px 0px

    .panel-body.readme
      //background #789
      bottom 0px
