.stars
  .detail
    position absolute
    top 50px
    right 0px
    bottom 0px
    left 600px
    min-width 600px
    background #789

    .panel.manage
      .clone
        display inline-block
        float right
        input
          display inline-block
          width 400px
      .tags
        margin 4px 0px

    .panel.nothing
