.stars
  .detail
    position absolute
    top 50px
    right 0
    bottom 0
    left 600px
    min-width 600px
    background #fff
    border-left 1px solid #ddd

    .nothing
      color #ccc
      font-size 20px
      text-align center
      top 50%
      left 0
      width 100%
      position absolute

    .panel
      position absolute
      top 0
      right 0
      bottom 0
      left 0
      overflow-y auto
      margin-bottom 0

    .panel-heading
      //background #567
      .clone
        display inline-block
        float right
        input
          display inline-block
          width 400px
          margin-left 4px
      .tags
        margin 4px 0

    .panel-body.readme
      //background #789
      bottom 0
