.detail(ng-controller='StarsDetailCtrl')
  .nothing(ng-hide='!!activedRepo')
    | No Repo Selected
  .panel.panel-default(ng-if='!!activedRepo')
    .panel-heading.manage(ng-if='!!activedRepo')
      button.btn.btn-default(type='button', ng-click='')
        span(ng-show='!!activedRepo.gs_unstarred_at')
          i.fa.fa-star-o
          | Star
        span(ng-hide='!!activedRepo.gs_unstarred_at')
          i.fa.fa-star
          | Unstar
      .clone
        label Clone
        input.form-control(type='text', ng-value='"https://github.com/" + activedRepo.full_name + ".git"', readonly)
      .tags
        ui-select(multiple, ng-model='activedRepo.objTags',
          tagging='tagTransform', tagging-tokens=',|SPACE|ENTER',
          on-remove='tagOnRemove($item, $model)', on-select='tagOnSelect($item, $model)'
        )
          ui-select-match(placeholder='Add a tag') {{$item.name}}
          ui-select-choices(repeat='tag in tags | filter:$select.search') {{tag.name}}
    .panel-body.readme(ng-if='!!activedRepo', ng-bind-html='activedRepo.readme')
