div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 'Allo, 'Allo!
    p.lead Manage your github stars
    //img(src='assets/images/yeoman.png', alt='I\'m Yeoman')

.container

footer.footer
  .container
    p
      a(href='https://github.com/jkeylu/GitStars.com') GitStars
      = ' v0.0.1'
      = ' | '
      a(href='https://github.com/jkeylu') @jkeylu
      = ' | '
      a(href='https://github.com/jkeylu/GitStars.com/issues') Issues
