.stars .sidebar
  position absolute
  top 50px
  left 0px
  bottom 0px
  width 200px
  overflow-y auto
  border-right 1px solid #ddd

  .panel
    margin-bottom 0px
    border-radius 0px
    .panel-body
      padding 0px

  .filter
    height 40px
    padding 7px 10px 7px 9px
    input
      height 26px

  .btn-group
    height 40px
    padding 7px 10px 7px 9px
    .btn
      width 60px
      font-size 10px
      font-weight bold
      padding 5px 5px

  .ui-select-container
    width 180px
    margin 7px 10px

  // refresh button
  .panel .refresh
    float right
    a
      margin-left 4px
      margin-right -4px

  // order button
  .panel .order
    margin-left 4px
