.sidebar(ng-controller='StarsSidebarCtrl')
  .panel.panel-default
    .panel-heading Filter by
      span.refresh
        i.fa.fa-refresh
        a(href='', ng-click='') Pull Stars
    .panel-body
      .filter
        input.form-control(ng-model='filters.search', type='text', placeholder='Enter something')
  .panel.panel-default
    .panel-heading Show
    .panel-body
      .btn-group
        label.btn.btn-default(ng-model='filters.taggedState', btn-radio='"All"') All
        label.btn.btn-default(ng-model='filters.taggedState', btn-radio='"Tagged"') Tagged
        label.btn.btn-default(ng-model='filters.taggedState', btn-radio='"Untagged"') Untagged
      .btn-group
        label.btn.btn-default(ng-model='filters.starredState', btn-radio='"All"') All
        label.btn.btn-default(ng-model='filters.starredState', btn-radio='"Starred"') Starred
        label.btn.btn-default(ng-model='filters.starredState', btn-radio='"Unstarred"') Unstarred
  .panel.panel-default
    .panel-heading Order By
      span.order
        a(href='', ng-click='filters.sortReverse = !filters.sortReverse', ng-bind='filters.sortReverse ? "DESC" : "ASC"')
    .panel-body
      .btn-group
        label.btn.btn-default(ng-model='filters.sortField', btn-radio='"created_at"') Created
        label.btn.btn-default(ng-model='filters.sortField', btn-radio='"updated_at"') Updated
        label.btn.btn-default(ng-model='filters.sortField', btn-radio='"pushed_at"') Pushed
      .btn-group
        label.btn.btn-default(ng-model='filters.sortField', btn-radio='"stargazers_count"') Stars
        label.btn.btn-default(ng-model='filters.sortField', btn-radio='"watchers_count"') Watchers
        label.btn.btn-default(ng-model='filters.sortField', btn-radio='"forks_count"') Forks
  .panel.panel-default
    .panel-heading Language
    .panel-body
      ui-select(multiple, ng-model='filters.languages')
        ui-select-match(placeholder='Enter a language') {{$item}}
        ui-select-choices(repeat='language in availableLanguages | filter:$select.search track by $index')
          div(ng-bind-html='language | highlight:$select.search')
  .panel.panel-default
    .panel-heading Tag
      span.logic
        a(href='', ng-click='filters.tagsFilterLogic = filters.tagsFilterLogic == "AND" ? "OR" : "AND"', ng-bind='filters.tagsFilterLogic')
    .panel-body
      ui-select(multiple, ng-model='filters.tags')
        ui-select-match(placeholder='Enter a tag') {{$item.name}}
        ui-select-choices(repeat='tag.name as tag in tags | filter:$select.search')
          div(ng-bind-html='tag.name | highlight:$select.search')
