.stars .sidebar
  position absolute
  top 50px
  left 0
  bottom 0
  width 200px
  overflow-y auto
  border-right 1px solid #ddd

  .panel
    margin-bottom 0
    border-radius 0
    border-left-width 0
    border-right-width 0
    .panel-body
      padding 0 2px
      text-align center

  .filter
    height 40px
    padding 7px 0
    input
      width 180px
      height 26px
      margin 0 auto

  .btn-group
    height 40px
    padding 7px 0
    margin 0 auto
    .btn
      width 60px
      font-size 10px
      font-weight bold
      padding 5px 1px

  .ui-select-container
    width 180px
    margin 7px auto
    text-align left

  // refresh button
  .panel .refresh
  .panel .order
  .panel .logic
    float right
    a
      margin-left 4px
      margin-right -4px

  .panel .refresh
    a.disabled
      color #aaa
      cursor default
      pointer-events none
      text-decoration none
