.stars .sidebar
  position absolute
  top 50px
  left 0px
  bottom 0px
  width 200px

  .panel
    margin-bottom 0px
    border-radius 0px
    .panel-body
      padding 0px

  .btn-group
    height 40px
    padding 7px 10px
    .btn
      width 60px
      font-size 10px
      font-weight bold
      padding 5px 5px

  .ui-select-container
    width 180px
    margin 7px 10px
